.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
    padding: 0 10px;
  }
  .add-to-cart {
    background-color: rgb(48, 43, 41);
    color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-to-cart:hover{
    background-color: rgb(110, 104, 101);
  }
  
  .size{
    text-transform: uppercase;
  }